/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

body {
    background: #36802d; /* fallback for old browsers */
    background: -webkit-linear-gradient(right,#36802d, #8DC26F);
    background: -moz-linear-gradient(right, #36802d, #8DC26F);
    background: -o-linear-gradient(right, #36802d, #8DC26F);
    background: linear-gradient(to left, #36802d, #8DC26F);
    font-family: 'Oswald', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }

.main{
 	margin-top: 70px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}

.form-group{
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
}

label{
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;
    font-family: 'Oswald', sans-serif;

}

.login-button{
    margin-top: 5px;
    font-family: 'Oswald', sans-serif;
}

.login-register{
	font-size: 14px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}