.carousel .carousel-item {
    height: 100%;
}
.carousel-item img{
    height: 100%;
}

.kontainer-konten{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 40px;
}

.kelas-navbar {
    background-color: #36802d;
    color: #FFF;
}

.navbar {
    font-family: 'Oswald', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.navbar>a {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
}

.navbar>div>ul>li>a {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 0;
}

.navbar>div>ul>li>a:hover {
    text-decoration: underline;
    transition: 0.2s;
    outline: 0; 
}


.btn-cari {
    color: #FFF;
    border-color: white;
}

.reg-btn>.login {
    color: #FFF;
    padding: 2px;
}

.login:hover {
    text-decoration: none;
}

.reg-btn>.reg {
    color: #36802d;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px;
    background-color: #fff;
    padding: 5px;
    border-radius: 2px;
}

.nav-konten{
    height: 40px;
}

.reg-btn>.reg:hover {
    text-decoration: none;
    background-color: #D3D3D3;
    transition: 0.15s;
}

footer{
    background-color: #222222;
}
footer > div > a:hover {
    text-decoration: none;
}

.brand-footer{
    color: #FFF;
}

.socmed-icon{
    height: 30px;
    width: 30px;
}


